@use '../../base-scss/base.styles' as base;

.custom-button {
    height: 50px;
    letter-spacing: 0.5px;
    padding: 0 2.1em 0 2.1em;
    color: #000;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', serif;
    font-weight: bolder;
    border: none;
    transition: background-color 350ms ease-out;
    cursor: pointer;
    border-radius: 5px;

    @media (min-width: 800px){
        font-size: 0.7em;
    }
}

.primary {
    background-color: base.$complementary-color;
    transition: background-color 300ms ease-out;

    &:hover {
        background-color: darken(base.$complementary-color, 5%);
    }
}

.secondary {
    background-color: base.$primary-color;
}

.transparent {
    background-color: transparent;
    border: 1px solid base.$complementary-color;
    transition: background-color 300ms ease-out;

    &:hover {
        background-color: base.$complementary-color;
    }
}