@use '../../base-scss/base.styles.scss' as base;

.mobile-header {
    display: flex;
    height: 7vh;
    @include base.fixedPosition(sticky);
    z-index: 1;
    background-color: base.$on-primary-color;
    box-shadow: 0 3px 5px 3px rgba(black, 0.4);

    @media screen and (min-width: 800px){
        display: none;
    }

    & a {
        height: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: base.$primary-color;
        font-size: 1.2em;
    }

    & svg {
        @include base.widthAndHeight(auto, 80%);
        margin-right: 0.5em;
    }

    & .spacer {
        flex: 1;
    }

    & ul {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;

        & li {
            height: 100%;
            display: flex;
            align-items: center;
        }

        & svg {
            fill: base.$primary-color;
            width: 1.5rem;
        }
    }
}