@use '../../base-scss/base.styles.scss' as base;

.hero{
    position: relative;
    @include base.widthAndHeight(100%, 100%);
    overflow-x: hidden;

    & img {
        @include base.widthAndHeight(100%, 100%);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    & .overlay {
        @include base.widthAndHeight(100%, 100%);
        @include base.fixedPosition(absolute);
        z-index: 1;
        background: linear-gradient(271deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
    }
}