@use '../../base-scss/base.styles.scss' as base;

.hero{
    position: relative;
    @include base.widthAndHeight(100%, 100%);
    overflow-x: hidden;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}