@use '../../base-scss/base.styles.scss' as base;

.home-page {
    flex: 1;
    background-color: darken(white, 5%);

    & h2 {
        text-align: center;
        padding: 0 0.5em;
    }

    & p {
        padding: 0 0.2em;
        text-align: center;
        margin: 1.5em 0;
    }

    .description-container {
        background-color: #fff;
        padding: 4em 1.2em;

        .description-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1.5em;
        }
    }

    & .features-container {
        margin: 3em 0;

        @media (min-width: 800px){
            margin: 3em 0 0;
            padding: 0 1em 3em;

            h2 {
                width: 70%;
                margin: 0 auto;
            }

            h2,
            p {
                margin-bottom: 1.2em;
            }
        }
    }

    & .features-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1em;
        
        @media (min-width: 800px){
            padding: 0 8em;
            margin-top: 1em;
        }
    }

    & .feature {
        display: flex;
        justify-content: space-evenly;
        align-items: center;


        & svg {
            @include base.widthAndHeight(4rem, 4rem);
        }

        & span {
            width: 50%;
            
            @media (min-width: 800px){
                font-size: 0.8em;
            }
        }
    }

    & .steps-container {
        margin: 3em 0;
    }
}

#home {
    height: 93vh;

    @media (min-height: 720px){
        height: 60vh;
    }

    & .hero-text {
        position: absolute;
        top: 30%;
        color: #fff;
        text-align: center;
        text-shadow: 4px 4px 7px base.$body-text-color;

        @media (min-height: 720px){
            top: 20%;
        }
    }

    .hero-controls {
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
        display: flex;
        justify-content: space-between;

        .custom-button {
            a {
                color: white;
                text-decoration: none;
            }
        }

        @media (max-width: 799px){
            width: 80%;
        }
    }

    

    @media (min-width: 800px){
        .hero-text {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -100%);
        }
    }
}

#steps {
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em;
    box-shadow: inset 0 6px 30px 30px rgba(black, 0.4);

    h2 {
        text-align: center;
        margin-bottom: 2em;
        color: #fff;
    }

    & .steps-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 2em;
        width: 100%;
        
        .step {
            display: flex;
            height: 15em;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: white;
            border-radius: 5px;
            padding: 1em 1.7em;
            box-shadow: 0 0.2em 0.5em rgba(white, 0.5);

            span {
                text-align: center;

                @media (min-width: 800px){
                    font-size: 0.8em;
                }
            }

            & svg {
                height: 5rem;
            }

            & a {
                color: white;
                text-decoration: none;
            }
        }
    }
}