@use '../../base-scss/base.styles.scss' as base;

.header {
    @include base.widthAndHeight(100%, 10vh);
    @include base.fixedPosition(fixed);
    display: flex;
    background-color: base.$on-primary-color;

    @media screen and (max-width: 799px){
        display: none;
    }

    & svg {
        @include base.widthAndHeight(auto, 90%);
        margin: auto .2em;
    }
}