@use '../../base-scss/base.styles.scss' as base;

.dashboard-wrapper {
    @include base.widthAndHeight(100%, 93vh);
    display: flex;
    // flex-wrap: wrap;

    .dashboard-panel {
        @include base.widthAndHeight(23%, 100%);
        min-width: 200px;
        background-color: base.$primary-color;

        & ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 1em 0;

            #profile-img {
                align-self: center;

                &:hover {
                    background-color: unset;
                    cursor: default;
                }
            }

            & li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1em;
                transition: background-color 300ms ease-out;
               
               &:hover {
                   background-color: base.$on-primary-color;
                   cursor: pointer;

                   a {
                       color: base.$primary-color;
                   }

                   svg {
                       fill: base.$primary-color;
                   }
               }

               & a {
                   text-decoration: none;
                   color: base.$on-primary-color;
                   width: 80%;
               }

               svg {
                   width: 2rem;
                   fill: base.$on-primary-color;
               }
            }
        }
    }

    .dashboard-content {
        @include base.widthAndHeight(77%, 100%);
    }
}

#unread {
    fill: base.$complementary-color;
    animation: pulse 1000ms infinite ease-out;
}

@keyframes pulse {
    10% {
        transform: scale(1.2);
    }
}