@use '../../base-scss/base.styles.scss' as base;

footer {
    min-height: 7em;
    background-color: base.$body-text-color;
    padding: 1.5em 1em;
    display: flex;
    flex-direction: column;

    @media (min-width: 800px){
        padding: 2em;
    }

    a {
        text-decoration: none;
        margin-bottom: 1em;
        transition: color 300ms ease-out;
        color: darken(base.$on-primary-color, 30%);

        @media (min-width: 800px){
            font-size: 0.7em;
        }
        
        &:hover {
            color: base.$on-primary-color;
        }
    }

    .main-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .column {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 799px){
            width: 45%;
        }
    }

    .other-links {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        justify-content: space-evenly;
        margin-top: 2em;

        .social-links {
            width: 30%;
            display: flex;
            justify-content: space-around;

            svg {
                width: 1.7rem;
            }
        }
    }
}